<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools">

    <!-- The INTERNET permission is required for development. -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:label="Sport Grounds Management App"
        tools:replace="android:label">
        <!-- Your application elements (activities, services, etc.) go here -->
    </application>

</manifest>
